.slide-frame{
    overflow: hidden;
    height: 77vh;
    

}

.slide-images{
    height: 100%;
}

img{
    background-size: cover;
    background-position: center;
    width: 100%;
}
.slide-images{
    width: 3600px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
.img-container{
    height: 100%;
    width: 100%;
    position:relative;
    float:left;
}

@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left:500px;}
    20%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0px;}
    80%{left:0px;}
    90%{left:0px;}
    100%{left:0px;}
}